apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-argo
  namespace: demo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-argo
  template:
    metadata:
      labels:
        app: nginx-argo
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80